.PianoDarkTheme .ReactPiano__Key--accidental {
  background: #025d7d;
  border: 1px solid #888;
}
.PianoDarkTheme .ReactPiano__Key--natural {
  background: #013243;
  border: 1px solid #888;
  margin-right: 0;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--accidental {
  background: #0396ca;
}
.PianoDarkTheme .ReactPiano__Key--active.ReactPiano__Key--natural {
  background: #0396ca;
}

/* Add this to your styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

/* Update your app-container styles */
.app-container {
  display: flex;
  flex-direction: column;
  height: 99vh; /* Full height of the viewport */
  overflow: hidden; /* Hide any content that overflows */
  margin: 0;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Or adjust based on your design needs */
}

.piano-container {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: flex-end;
}

/* Ensure the Piano component sizes with the container */
.responsive-piano {
  width: 100%;
}
